html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*, *:before, *:after {
  box-sizing: inhereit;
}

*:focus {
  outline: 4px dotted #ff52bf;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-size: 1.8rem;
}

figure {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #ebfbff;
  padding: 0 5%;
}
header figure {
  height: 30%;
}
header figure img {
  height: 100%;
  width: auto;
}
header button {
  border: none;
  background-color: #ffe;
  width: 100px;
  height: 25px;
  font-weight: 700;
  border-radius: 30px;
  box-shadow: 2px 2px 3px 2px #00000026;
  transition: 0.2s;
  cursor: pointer;
}
header button:hover {
  transform: scale(0.9);
  background-color: #ff52bf;
  color: #ffe;
}

.hero {
  padding: 0 5%;
  text-align: center;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  background-color: #ebfbff;
  align-items: center;
  background-image: url("../images/bg-hero-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  margin-bottom: 100px;
}
.hero article {
  padding: 0 9%;
}
.hero article button {
  height: 40px;
  width: 80%;
  border-radius: 40px;
  border: none;
  font-weight: 700;
  background-color: #ff52bf;
  color: #ffe;
  transition: 0.2s;
  cursor: pointer;
}
.hero article button:hover {
  transform: scale(0.9);
  background-color: #ebfbff;
  color: #ff52bf;
}
.hero figure {
  width: 100vw;
  margin-top: 60px;
  margin-bottom: 30px;
}
.hero figure img {
  width: 80%;
}

.cards {
  padding: 0 5%;
}
.cards .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 12px 2px #00000013;
  border-radius: 20px;
  margin-bottom: 30px;
  padding: 10%;
  text-align: center;
}
.cards .card figure {
  width: 100%;
}
.cards .card figure img {
  width: 80%;
  height: auto;
}
.cards .card article p {
  color: #9d9999;
}
.cards .card article h3 {
  font-size: 1.9rem;
  margin-bottom: 0;
}

.floating-card {
  padding: 0 5%;
}
.floating-card .card {
  position: relative;
  height: 200px;
  max-width: 400px;
  top: 100px;
  padding: 0 5%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffe;
  margin: auto;
  border-radius: 20px;
  box-shadow: 2px 2px 12px 2px #00000013;
}
.floating-card .card button {
  height: 40px;
  width: 70%;
  border-radius: 25px;
  border: none;
  background-color: #ff52bf;
  color: white;
  transition: 0.2s;
  cursor: pointer;
}
.floating-card .card button:hover {
  transform: scale(0.9);
  background-color: #ffe;
  color: #ff52bf;
}

footer {
  background-color: #00252e;
  color: #ffe;
  padding-top: 180px;
}
footer .logo-container {
  margin-left: 20px;
}
footer .content {
  display: flex;
  flex-direction: column;
}
footer .content .contact__location {
  display: flex;
}
footer .content .contact__location img {
  margin: 25px 20px 0px;
  width: 20px;
  height: 20px;
}
footer .content .contact__location p {
  width: 70vw;
  max-width: 600px;
}
footer .content .contact__phone {
  display: flex;
}
footer .content .contact__phone img {
  margin: 25px 20px 0px;
  width: 20px;
  height: 20px;
}
footer .content .contact__phone p {
  width: 250px;
}
footer .content .contact__email {
  display: flex;
}
footer .content .contact__email img {
  margin: 25px 20px 0px;
  width: 20px;
  height: 20px;
}
footer .content .contact__email p {
  width: 250px;
}
footer .content .about-us {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
footer .content .about-us a {
  text-decoration: none;
  color: #ffe;
  line-height: 50px;
  transition: 0.2s;
}
footer .content .about-us a:hover {
  color: #ff52bf;
}
footer .content .career {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-bottom: 30px;
}
footer .content .career a {
  text-decoration: none;
  color: #ffe;
  line-height: 50px;
  transition: 0.2s;
}
footer .content .career a:hover {
  color: #ff52bf;
}
footer .content .social {
  display: flex;
  justify-content: center;
}
footer .content .social a {
  width: 35px;
  height: 35px;
  border: 1px solid #ffe;
  border-radius: 50%;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}
footer .content .social a:hover {
  background-color: #ff52bf;
}
footer .content .social a img {
  width: 60%;
}

.copyright {
  background-color: #00252e;
  height: 100px;
  display: flex;
  padding-top: 30px;
  justify-content: center;
}
.copyright p {
  margin: 0;
  font-size: 1.5rem;
}