

$pink: 	#ff52bf
$very-pale-cyan: 	#ebfbff
$very-dark-cyan: 	#00252e
$grayish-blue: hsl(208, 11%, 55%)
$font-size-normal: 1.8rem
$font-family-headings: 'Poppins', sans-serif
$font-family-main: 'Open Sans', sans-serif