$pink                     : #ff52bf
$very-pale-cyan           : #ebfbff
$white                    : #ffe
$gray                     : #9d9999
$very-dark-cyan           : #00252e
$grayish-blue             : #808d99
$font-family-headings     : 'Poppins', sans-serif
$font-family-main         : 'Open Sans', sans-serif
$font-size-normal         : 1.8rem
$mobile-container-padding : 0 5%
$mobile-inner-pading      : 0 9%
$card-padding             : 10%
$box-shadow-strong        : 2px 2px 3px 2px #00000026
$box-shadow-light         : 2px 2px 12px 2px #00000013
$font-weight-heading      : 600
$font-weight-bold         : 700
$font-weight-normal       : 400
$button-height            : 25px